.stil_ljudi  {
    float: right;
    margin-right: 10%;
  }

.stil_member_info  {
    width: 70%;
    float: left;
  }

.stil_home {

    text-align: center;
  }

.stil_info  {
    text-align: center;
  }

.stil_sidebar {
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: rgb(54, 53, 53);
  margin-left: 80%;
  
}

