.stil_content_profile {
    background: rgb(54, 53, 53);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid #D3D3D3;
    margin-top: -100px;
    margin-left: 20px;
    text-align: center;
  }


  .stil_back{
      background-color: gray;
  }

  .stil_ime {
    margin-left: 200px;
    margin-top: -70px;
    float: left;
    color: #D3D3D3;
    text-decoration: underline;
    
  }

  .stil_podnaslov {
    margin-left: 200px;
    margin-top: -50px;
    float: left;
    color: #D3D3D3;
  }

  .stil_banner {
    width: auto; 
    height: 200px;
    border: solid grey; 
    padding: 50px;
    background:  #D3D3D3;
    text-align: center;
  }