.multitext {
    background-image: linear-gradient(to left, 
                    red,
                    purple,
                    
                    rgb(225, 10, 240),
                    blue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
  }
.navBar {
  /*position: fixed;*/
}