.profile {
}
.profile-container {
  height: auto;
  max-height: 400px;
  display: block;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
  overflow: hidden;
  background-color: #3c4149;
  text-align: left;
}
.profile-image-container {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  margin-top: -50px;
  margin-left: 23px;
  float: left;
  margin-right: 23px;
  text-align: center;
}
.profile-cover-photo {
  width: 100%;
  height: 90px;
  z-index: 1;
}
.profile-image-photo {
  width: 90px;
  height: 90px;
  margin-top: 5px;
}
.profile-username{
  color: rgb(189, 183, 183);
}
.profile-date {
  color: rgb(189, 183, 183);
}
.profile-about-container {
  text-align: left;
  color: rgb(189, 183, 183);
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 23px;
}
.profile-follow-button {
  width: 100%;
}
.profile-follow-button-container {
  margin-top: 15px;
  margin-bottom: 15px;
}